<footer class="container" style="margin-top: 100px;">
    <p class="text-center">copyright @2017 Rails101
        <br>Design
          <a href="http://courses.grothschool.com/courses/rails-101/" target=_new>Xdite</a>
    </p>
</footer>
<!-- y以上部分，不需要记忆 -->
